/*Navigation CSS*/
#navBar {
    display: flex;
    flex-direction: row;
    margin: 0px 5%;
}

.logo {
    width: 8%;
    align-items: center;
}

#navBar h1 {
    width: 25%;
    font-weight: 500;
}

#navigation {
    display: flex;
    width: 20%;
    align-items: center;
    justify-content: space-evenly;
}

#navSpace {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 60%; 
}

#navigation p {
      display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 20%;
  font-family: 'Source Sans Pro', sans-serif;
}

.highlight {
    color: #FF9153;
    font-weight: 700;
}

/*Typography CSS*/
.sectionTitle {
    font-family: 'Work Sans', sans-serif;
    font-size: 48px;
    color: #FFFDCB;
    text-align: center;
    margin-top: 40px;
    padding-bottom: 24px;
}
h1 {
    font-family: 'Work Sans', sans-serif;
    color: #FCFAE6;
}
h2 {
    font-family: 'Work Sans', sans-serif;
    font-variant: small-caps;
    font-size: 48px;
    margin-top: 12px;
    color: #FCFAE6;
    text-align: center;
}
h3 {
    font-family: 'Source Sans Pro', sans-serif;
    color: #FFFFFF;
    text-align: left;
    font-size: 60px;
}
p{
    font-family: 'Source Sans Pro', sans-serif;
    color: #FCFAE6;
    padding-bottom: 24px;
}

/*Background CSS*/
body {
    background-color: #252D3D;
}

/*Button + Anchor CSS*/
button {
    padding: 12px;
    margin-bottom: 36px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bolder;
    color: #ffffff;
    background-color: rgb(30, 36, 49,0.40); /* my black */
    border-radius: 8px;
    border: 2px solid #ffffff;
    transition-duration: 0.4s;
    display: inline-block; /*I cant get my buttons to align center. I did some research and tried a bunch of different things and nothing worked- help?*/
}

button:hover{
    background-color: #FF9153; /* nara */
  color: white;
  display: inline-block;
}

/* unvisited link */
a:link {
    text-decoration: none;
}

/* visited link */
a:visited {
    color: #FCFAE6;
    text-decoration: none;
}
  
/* mouse over link */
a:hover {
    color: white;
}

/* selected link */
  a:active {
    color: #FCFAE6;
    text-decoration: none;
}

/*Main Section CSS*/
.heroImg {
    display:grid;
    grid-template-columns: 60% 40%;
    padding: 20px;
    padding-top: 40px;
}

#myFace {
    padding-top: 48px;
    /* I wanted to put a border around just my img, but it bordered the entire box that my img lives in.. merp
    border-style: solid;
    border-width: thin;
    border-color: #FFFFFF;
    */
}

.content {
    padding-right: 40px;
    margin: 0 auto;
}

/*Footer CSS*/
#footerBar {
    display: flex;
    flex-direction: row;
    margin: 0px 5%;
    align-items: center;
}

#footerBar h1 {
    width: 25%;
    font-weight: 500;
    align-items: center;
}

#footerMore p {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 175%;
    font-family: 'Source Sans Pro', sans-serif;
}

#footerSpace {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%; 
}

/* REPLACED ON 6/26/21
.inline-block {
    display: inline-block;
    vertical-align: top;
}

.logo {
    padding: 2%;
    text-align: center;
    position: static;
}
*/
/*.navigation {
    display:flex;
    flex-flow: row nowrap;
    color: #FCFAE6;
    align-items: center;
}

ul {
    width: 100%;
   margin-left: auto; 
   padding: 40px;
   font-family: workSans;
   font-size: 24px;
   color: #FCFAE6;
   text-align: right;
   align-self: flex-end;
}

h1 {
    font-family: workSans;
}

h2 {
    font-family: workSans;
    color: #FCFAE6;
    font-size: 52px;
    margin-top: unset;
}

p {
    font-family: sourceSans;
    color: #FFFFFF;
    padding-bottom: 16px;
}

button {
    padding: 12px;
    font-family: sourceSans;
    font-weight: bolder;
    color: #ffffff;
    background-color: #1E2431; 
    border-radius: 8px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);  
    transition-duration: 0.4s;
}

button:hover {
  background-color: #FF9153;
  color: white;
}

footer {
    align-self: flex-end;
    padding-top: 60px;
    width: auto;
    height: 120px;
    background-color: #252D3D;
}

body {
    background-color: #252D3D;
}

@font-face {
    font-family: sourceSans;
    src: url(typeface_source_sans_pro/SourceSansPro-Regular.ttf);
}

@font-face {
    font-family: workSans;
    src: url(typeface_work_sans/WorkSans-Medium.ttf);
}
*/