/*Navigation CSS*/
#navBar {
    display: flex;
    flex-direction: row;
    margin: 0px 5%;
}

.logo {
    width: 8%;
    align-items: center;
}

#navBar h1 {
    width: 25%;
    font-weight: 500;
}

#navigation {
    display: flex;
    width: 20%;
    align-items: center;
    justify-content: space-evenly;
}

#navSpace {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 60%; 
}

#navigation p {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 20%;
    font-family: 'Source Sans Pro', sans-serif;
}

.highlight {
    color:#FF9153;
    font-weight: 700;
}

/*Typography CSS*/
.sectionTitle {
    font-family: 'Work Sans', sans-serif;
    font-size: 48px;
    color: #FFFDCB;
    text-align: center;
    margin-top: 40px;
    padding-bottom: 24px;
}
h1 {
    font-family: 'Work Sans', sans-serif;
    color: #FCFAE6;
}
h2 {
    font-family: 'Work Sans', sans-serif;
    font-variant: small-caps;
    font-size: 48px;
    margin-top: 0px;
    margin-bottom: 0px;
    color: #FCFAE6;
    text-align: left;
    padding: 24px;
}
h3 {
    font-family: 'Source Sans Pro', sans-serif;
    color: #FFFFFF;
    text-align: right;
    padding-left: 24px;
    padding-right: 24px;
}
p {
    font-family: 'Source Sans Pro', sans-serif;
    color: #FCFAE6;
    padding-left: 24px;
    padding-right: 24px;
}

/*Background CSS*/
body {
    background-color: #252D3D;
}

/*Button + Anchor CSS*/
button {
    padding: 12px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bolder;
    color: #ffffff;
    background-color: rgb(30, 36, 49,0.40); /* my black */
    border-radius: 8px;
    border: 2px solid #ffffff;
    transition-duration: 0.4s;
    display: inline-block; /*I cant get my buttons to align center. I did some research and tried a bunch of different things and nothing worked- help?*/
}

button:hover{
    background-color: #FF9153; /* nara */
  color: white;
  display: inline-block;
}

/* unvisited link */
a:link {
    text-decoration: none;
}

/* visited link */
a:visited {
    color: #FCFAE6;
    text-decoration: none;
}
  
/* mouse over link */
a:hover {
    color: white;
}

/* selected link */
  a:active {
    color: #FCFAE6;
    text-decoration: none;
}

/*Main Section CSS*/
.skillGrid {
    margin: 12px 5%;
    display: grid;
    grid-template-rows: 420px 420px 420px;
    grid-template-columns: 1fr 2fr;
    grid-template-areas:
        "projectImg1 ux"
        "projectImg2 ui"
        "projectImg3 gd"
    ;
}

.skillGridArea {
    display: grid;
    align-content: end;
    margin-block-end: 36px;
    border-radius: 24px;
    border: 2px solid #1E2431;
}
/*I want my images to sit to the left of the text, but it doesnt show how I want it when I place it here and also <imc src> in html. Help!*/
.projectImg1 {
    grid-area: projectImg1;
    background-image: url("../images/user_research_cropped.png");
}
.projectImg2 {
    grid-area: projectImg2;
    background-image: url("../images/user_research_cropped.png");
}
.projectImg3 {
    grid-area: projectImg3;
    background-image: url("../images/user_research_cropped.png");
}
#ux {
    grid-area: ux;
}

#ui {
    grid-area: ui;
}

#gd {
    grid-area: gd;
}

/*Footer CSS*/
#footerBar {
    display: flex;
    flex-direction: row;
    margin: 0px 5%;
}

#footerBar h1 {
    width: 25%;
    font-weight: 500;
}

#footerMore p {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 175%;
    font-family: 'Source Sans Pro', sans-serif;
}

#footerSpace {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%; 
}

/* RWD @ media tags*/
@media only screen and (max-width: 1000px) {
    #navigation {
        display: none;
    }
}

@media only screen and (max-width: 600px) {
    #sectionTitle {
        position: static;
        margin: 20px;
    }
    #skillGrid {
        grid-template-rows: 300px 300px 300px;
        grid-template-columns: 1fr;
        grid-template-areas:
            "ux"
            "ui"
            "gd"
        ;
    }
}